
@media screen and (max-width: 720px) {
  .Tabs__root {
    border-radius: 0;
    margin-left: calc(-1* var(--vocs-space_16));
    margin-right: calc(-1* var(--vocs-space_16));
    padding-left: var(--vocs-space_16);
    padding-right: var(--vocs-space_16);
  }

  .Tabs__list {
    margin-left: calc(-1* var(--vocs-space_16));
    margin-right: calc(-1* var(--vocs-space_16));
  }
}